<table class='table table-striped table-hover'>
    <thead>
        <tr>
            <th data-field='id'>Algorithm</th>
            <th data-field='stock'>Stock</th>
            <th data-field='size'>Size</th>
            <th data-field='profit'>Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" *ngFor="let strategy of strategies" [routerLink]="['/strategy/', strategy.id]">
            <td>Two moving averages</td>
            <td>{{ strategy.stock.ticker }}</td>
            <td>{{ strategy.size }}</td>
            <td>{{ strategy.profit | number:'.2' }}%</td>
        </tr>
    </tbody>
</table>
