<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col" data-sortable="true">Buy/Sell</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let trade of trades'>
      <td>{{ trade.stockTicker }}</td>
      <td>{{ trade.tradeType }}</td>
      <td>{{ trade.price | currency }}</td>
      <td>{{ trade.lastStateChange }}</td>
    </tr>
  </tbody>
</table>