<div class='page-header'>
    <h2>Active Strategies</h2>
    <div class='btn-bar'>
        <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#new-strategy-modal">Create New Strategy</button>
    </div>
</div>
    
<app-strategy-table [strategies]='activeStrategies'></app-strategy-table>

<div class='page-header mt-5'>
    <h2>Closed Strategies</h2>
</div>

<app-strategy-table [strategies]='closedStrategies'></app-strategy-table>

<app-new-strategy-dialog (updateStrategiesEmitter)='getActiveStrategies()'></app-new-strategy-dialog>