<div class="row">
    <div class="col-lg pb-5">
        <table>
            <tbody>
                <tr>
                    <th>Algorithm</th>
                    <td>Two moving averages</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>{{ strategy.stock.ticker }}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{ strategy.size }}</td>
                </tr>
                <tr>
                    <th>Exit Percentage</th>
                    <td>{{ strategy.exitProfitLoss | number:'.2' }}%</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        <span *ngIf="strategy.stopped === null; else closed">Open</span>
                        <ng-template #closed>Closed</ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg pb-5">

        <!-- Financial Summary -->  
        <div class="profitLoss">
            <div *ngIf="strategy.profit >= 0; else lossBlock" class="up">
                <fa-icon [icon]='faLongArrowAltUp'></fa-icon>
                {{ strategy.profit | number:'.2' }}%
            </div>
            <ng-template #lossBlock class="down">
                <div class="down">
                    <fa-icon [icon]='faLongArrowAltDown'></fa-icon>
                    {{ strategy.profit | number:'.2' }}%
                </div>
            </ng-template>
        </div>

        <canvas baseChart
                [datasets]='chartData'
                [chartType]='chartType'
                [labels]='chartLabels'
                [options]='chartOptions'
                [colors]='chartColors'>
        </canvas>
    </div>
</div>