<div class="modal" tabindex="-1" role="dialog" id="new-strategy-modal" #strategyModal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="strategy === undefined; else editTitle" class="modal-title" #title>
                    Create New Strategy
                </h5>
                <ng-template #editTitle>
                    <h5 class="modal-title" #title>Edit Strategy</h5>
                </ng-template>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" id="strategy-form" (ngSubmit)="submitStrategy(f)" autocomplete="off" novalidate>
                    
                    <div class="row mb-4">

                        <div class="col-sm-4">
                            Algorithm
                        </div>
                        <div class="col-sm-8">
                            Two moving averages    
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="stockInput" class="col-sm-4 col-form-label">Stock Ticker</label>
                        <div *ngIf="strategy === undefined; else filledStock" class="col-sm-8">
                            <input type="text" class="form-control ui-widget" id="stockInput" maxlength="5" #stockInput placeholder="e.g. AAPL">
                        </div>
                        <ng-template #filledStock>
                            <div class="col-sm-8">
                                <input type="text" class="form-control ui-widget" id="stockInput" maxlength="5" #stockInput value="{{ strategy.stock.ticker }}" readonly>
                            </div>
                        </ng-template>
                    </div>
                    
                    <div class="form-group row">
                        <label for="sizeInput" class="col-sm-4 col-form-label">Size</label>
                        <div *ngIf="strategy === undefined; else filledSize" class="col-sm-8">
                            <input type="number" class="form-control" min=1  id="sizeInput" placeholder="e.g. 5" #sizeInput>
                        </div>
                        <ng-template #filledSize>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min=1  id="sizeInput" placeholder="e.g. 5" value="{{ strategy.size }}" readonly #sizeInput>
                            </div>
                        </ng-template>
                    </div>
                    
                    <!-- Strategy Selector (disabled until more options available) -->
                    <!-- <div class="form-group">
                        <label for="strategySelect">Strategy</label>
                        <select class="form-control" id="strategySelect">
                            <option>Simple</option>
                        </select>
                    </div> -->

                    <!-- Strategy-specific fields -->
                    <div class="form-group row">
                        <label for="exitProfitLossInput" class="col-sm-4 col-form-label">Exit percentage</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" step="0.1" min="0.1" id="exitProfitLossInput" value='1.0' #exitProfitLossInput>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" #confirmBtn>
                        <span *ngIf="strategy === undefined; else saveSpan">Create</span>
                        <ng-template #saveSpan>
                            <span>Save Changes</span>
                        </ng-template>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>