<div *ngIf="strategy !== undefined; else notFound">
    <div class="page-header">
        <a class="icon mr-3" [routerLink]="['./strategy']"><fa-icon [icon]='faArrowCircleLeft'></fa-icon></a>
        <h3>Strategy Details</h3>
    
        <div *ngIf='strategy.stopped === null' class="btn-bar">
            <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#new-strategy-modal">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#stop-strategy-modal">Stop</button>
        </div>
    </div>

    <h5>Analysis</h5>
    <hr class="mb-3 mt-0">
    <app-strategy-analysis [strategy]='strategy'></app-strategy-analysis>

    <h5>Trade History</h5>
    <app-trade-history [strategy]='strategy'></app-trade-history>
</div>

<ng-template #notFound>
    <h1 class="mt-4 mb-4">Strategy not found!</h1>
    <p>The requested strategy does not exist.</p>
    <p>
        Return to the
        <a [routerLink]="['./strategy']">Strategies page</a>
        to view or create strategies.
    </p>
</ng-template>

<!-- Delete Strategy Modal -->
<div class="modal fade" id="stop-strategy-modal" tabindex="-1" role="dialog" aria-labelledby="stopStrategyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="stopStrategyLabel">Stop Strategy</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to stop this strategy? This action cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="stopStrategy()">Stop Strategy</button>
        </div>
        </div>
    </div>
</div>

<app-new-strategy-dialog [strategy]='strategy' (updateStrategiesEmitter)='getStrategy()'></app-new-strategy-dialog>