/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}

.page-header {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.btn-bar {
    margin-left: auto;
}

.btn-bar button{
    margin-left: 5px;
}